<h1>All Restaurants</h1>
<ul>
  <% @restaurants.each do | res | %>
  <li><%= res.category %><%= link_to res.name, restaurant_path(res)%></li>
  <% end %>
</ul>
<%= link_to "add a restaurant", new_restaurant_path %>
